body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

.login-container{
    height:100vh;
    background:url("https://images.unsplash.com/photo-1542751371-adc38448a05e?q=80&w=1920") center center/cover;
}

.overlay{
    height:100vh;
    background:rgba(0,0,0,0.7);

    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:400px;
    padding:40px;
    text-align:center;

    background:rgba(255,255,255,0.05);

    border:2px solid gold;

    border-radius:15px;

    backdrop-filter:blur(10px);

    box-shadow:0px 0px 20px gold;
}

.login-box h1{
    color:gold;
}

.login-box p{
    color:white;
}

.login-box input{
    width:100%;
    padding:12px;
    margin-top:15px;

    border:none;
    border-radius:8px;
}

.login-btn{
    width:100%;
    margin-top:20px;

    padding:12px;

    background:gold;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-weight:bold;
}

.register-btn{
    width:100%;
    margin-top:10px;

    padding:12px;

    background:red;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-weight:bold;
}