.winner-page{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#090909,#2b1556);

}

.winner-card{

width:500px;

padding:40px;

text-align:center;

background:#181818;

border:3px solid gold;

border-radius:20px;

box-shadow:0 0 40px gold;

color:white;

}

.winner-card h1{

font-size:50px;

color:gold;

margin-bottom:20px;

}

.winner-card h2{

font-size:35px;

margin-bottom:30px;

}

.winner-card h3{

margin:15px;

font-size:24px;

}

.winner-btn{

width:100%;

padding:15px;

margin-top:20px;

border:none;

border-radius:12px;

cursor:pointer;

font-size:20px;

background:gold;

font-weight:bold;

}

.home{

background:#6b3cff;

color:white;

}